@model IEnumerable<Category>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Categories" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
    </li>
}